body {
	background-color: Menu;
	color: MenuText;
	font-family: sans-serif;
	line-height: 1.6em;
}
h1 {
	color: ThreeDShadow;
	margin-right: 4.22em;
}
p.up, ul.up, ol.up, li.up {
	margin-right: 11em;
}
h3 {
	color: ThreeDDarkShadow;
}
h2 {
	margin-top: 1.5em;
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0.066em dotted ActiveCaption;
	color: Background;
}
h4 {
	padding: 0.33em;
	text-align: center;
	border-radius: 0.33em;
	margin-bottom: 0;
	background-color: Highlight;
	color: HighlightText;
	line-height: 1em;
}
code, pre {
	background-color: ActiveCaption;
	color: CaptionText;
	font-weight: bold;
	border-radius: 0.22em;
	display: inline-block;
}
pre {
	white-space: pre;
	min-width: 98%;
	max-width: 99%;
	overflow: scroll;
	margin: 0;
}
code {
	padding: 0 0.22em 0 2.22em;
	text-indent: -2em;
}
code i, code span, pre i {
	font-weight: normal;
}


.hd-note {
	background-color: InfoBackground;
	color: InfoText;
	border-radius: 0.22em;
	border: solid 0.066em ThreeDLightShadow;
	padding: 0.1em 0.2em;
	font-size: 0.9em;
}
span.hd-note {
	font-style: italic;
}


ul.hd-nav {
	list-style-type: none;
	text-align: center;
	margin-top: 0;
	white-space: nowrap;
}
li.hd-nav {
	display: inline-block;
	padding: 0.11em 0.66em 0.44em 0.66em;
}
li.hd-nav a {
	text-decoration: none;
	color: CaptionText;
	display: inline-block;
	font-weight: bold;
}
li.hd-nav-sel {
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	background-color: Highlight;
}
li.hd-nav-sel a {
	color: HighlightText;
}

.hd-toc {
	background-color: ActiveCaption;
	color: CaptionText;
	overflow: hidden;
	width: 8.5em;
	right: 0.5em;

	position: absolute;
	top: 6.88em;
}
.hd-toc ul {
	display: none;
	margin: 0;
	padding: 0.33em 0.44em 0.33em 1.11em;
}
.hd-toc input, .hd-toc label {
	display: none;
}
.hd-toc input#chk_showtoc:checked ~ ul {
	display: inline-block;
}
.hd-toc ul li {
	margin: 0;
}
.hd-toc ul li a {
	color: InfoText;
}

ul.hd-feed {
	list-style-type: none;
	margin-top: 2.22em;
}
ul.hd-feed > li {
	margin-bottom: 1.23em;
}
.hd-feed-title {
	margin: 0;
	font-size: 1.11em;
	font-weight: bold;
}
.hd-feed-desc {
	color: GrayText;
}

.hd-xtd1 {
	display: none;
}
