T:Hax: HaXtatic
T:SiteTitle: {T{Hax}} Docs
T:Briefly: In a nutshell
T:HaxConf: haxtatic.config
T:HaxConfi: <i>{T{HaxConf}}</i>
T:HaxConfLink: <a href="#">{T{HaxConf}}</a>
T:HaxBlokPage: <a href="#">blok-post page</a>
T:HaxBlokLink: <a href="#">blok</a>
T:HaxBlok: <i>blok</i>
T:HaxXSnippets: <a href="#">{X{Snippets}}</a>
T:HaxX: <a href="#">X built-ins</a>
T:HaxTTag: <a href="tags.t.html">T-tag</a>
T:HaxPTag: <a href="tags.p.html#Custom">custom P-tag</a>
T:ThemeHtmlLink: <a href="#">theme.tmpl.html</a>
T:BlogHtmlLink: <a href="#">blog.tmpl.html</a>
T:PDate: <a href='#'>'page date'</a>

B:basics: title="Basics", nameAsCat=False, desc="The basics", atom="", df=""
B:tags: title="Tags", nameAsCat=False, desc="You include {T{Hax}} tags in your content sources with a simple notation: often <code>{Prefix{Name}}</code>, sometimes <code>{Prefix{Name: Args}}</code>. (Why curly braces and not &lt;angle brackets&gt;? Easier authoring in all tools and naturally prompter processing.)</p>Example: <code>{\\P{Date}}</code> includes the current {T{PDate}}: <span class='hd-note'>{P{Date}}</span>. Supported 'prefixes' or tag types are <b>T, P, B, X</b>:", atom="", df=""

X:Links:TopNav: lis=[("index","Overview"),("basics","Basics"),("tags","Tags"),("x","X built-ins")], linkid="hd_nav_{%_k}", css="hd-nav", cssSel="hd-nav-sel"

X:Listing:TopicalLinks: lean=False, cssCat="", cssTitle="hd-feed-title", cssDesc="hd-feed-desc", cssUl="hd-feed", groupTag="h2", imgPaths=[]

X:PageToc:JumpTo: outerTag="li", emptyIf=1, emptyMarkup="<style type='text/css'>.hd-toc { display: none; }</style>", linkAtts=[]

X:Markup:C:code
