T:Hax: HaXtatic
T:SiteTitle: {T{Hax}} Docs
T:HaxConf: <i>haxtatic.config</i>
T:HaxConfLink: <a href="#">{T{HaxConf}}</a>
T:ThemeHtmlLink: <a href="#">theme.tmpl.html</a>
T:!:{T<!---->{

B:basics: title="Basics", nameAsCat=False, desc="The basics", atom="", df=""
B:tags: title="Tags", nameAsCat=False, desc="Tags you can use", atom="", df=""

X:Links:TopNav: lis=[("index","Overview"),("basics","Basics"),("tags","Tags"),("x","X:Tags")], linkid="hd_nav_{{_k}}", css="hd-nav", cssSel="hd-nav-sel"

X:Listing:ToC: lean=False, cssCat="", cssTitle="hd-feed-title", cssDesc="hd-feed-desc", cssUl="hd-feed", groupTag="h2", imgPaths=[]
