T:Hax: HaXtatic
T:SiteTitle: {T{Hax}} Docs
T:!T:{T<!---->{
T:!P:{P<!---->{
T:Briefly: In a nutshell
T:HaxConf: haxtatic.config
T:HaxConfi: <i>{T{HaxConf}}</i>
T:HaxConfLink: <a href="#">{T{HaxConf}}</a>
T:ThemeHtmlLink: <a href="#">theme.tmpl.html</a>
T:PDate: <a href='#'>'page date'</a>

B:basics: title="Basics", nameAsCat=False, desc="The basics", atom="", df=""
B:tags: title="Tags", nameAsCat=False, desc="You include {T{Hax}} tags in your content sources with a simple notation: <code>{Prefix{Name}}</code> or <code>{Prefix{Name: Args}}</code> &mdash; for example <code>{T{!P}}Date}}</code> includes the current {T{PDate}}: <span class='hd-note'>{P{Date}}</span>.<br/><br/>(Why curly instead of &lt;angle brackets&gt;? Ease of authoring in all tools and inherently faster processing.) Supported 'prefixes' or tag types are T, P, B, X:", atom="", df=""

X:Links:TopNav: lis=[("index","Overview"),("basics","Basics"),("tags","Tags"),("x","X built-ins")], linkid="hd_nav_{{_k}}", css="hd-nav", cssSel="hd-nav-sel"

X:Listing:TopicalLinks: lean=False, cssCat="", cssTitle="hd-feed-title", cssDesc="hd-feed-desc", cssUl="hd-feed", groupTag="h2", imgPaths=[]

X:PageToc:JumpTo: outerTag="li", emptyIf=1, emptyMarkup="<style type='text/css'>.hd-toc { display: none; }</style>", linkAtts=[]
